@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import consolidated shared CSS from downloaded WordPress assets */
@import url('/css/build/shared.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: #30bbd8;
  padding: 150px 40px;
}