.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}
